body {
  min-height: 50vh;
  font-family: helvetica, Arial, sans-serif;
  font-size: 2vmin;
  background-color: #555;
  color: white;
  margin: 3vmin 4vmin 2vmin 4vmin;
}

/* iPad portait */
@media (max-width: 768px) {
  body {
    font-size: 3vmin;
  }
}

/* iPhone landscape only */
@media (max-width: 568px) {
  body {
    font-size: 4vmin;
  }
}

/* iPhone portait only */
@media (max-width: 320px) {
  body {
    font-size: 4vmin;
  }
}

*:focus {
  outline: 2px solid white;
  outline-offset: 2px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

header {
  margin-bottom: 1.5em;
}

nav {
  display: flex;
  align-items: center;
  column-gap: 0.7em;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

#github {
  margin-left: auto;
}

#github-cat {
  height: 1.5em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.button {
  align-self: flex-end;
}

.between_buttons, input[type="checkbox"], label {
  align-self: center;
}

button {
  font-size: 1em;
  padding: 5px 10px;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: white;
  background-color: #333;
}

input[type="checkbox"] {
  margin-left: 1vmin;
}

.flexlabel {
  display: flex;
}

textarea {
  font-size: larger;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: 50vh;
  margin-top: 2vmin;
}
